@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT');
}

#root{
  background: #FFFFFF;
}

::before,
::after {
  --tw-content: '';
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

.rc-virtual-list-scrollbar {
  opacity: 0.6;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    overflow: hidden;
}

.slick-list{
  overflow: inherit !important;
}

.screen{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
}

.slick-track{
  display: grid !important;
  grid-auto-flow: column !important;
}

.shadow-1 {
  box-shadow: 0 6px 20px 0 #0000001A;
}
.shadow-2 {
  box-shadow: 0 4px 12px 0 #00000008;
}
.shadow-3{
  box-shadow: 0 4px 25px 0 #00000026;
}
.shadow-3-transparent{
  box-shadow: 0 4px 25px 0 transparent;
}

.shadow-1-transparent {
  box-shadow: 0 6px 20px 0 transparent;
}

.border-sidebar{
  @apply w-[296pxpx] h-[43pxpx] gap-2.5 opacity-[0px] px-2.5 py-0 border-b-[#3333334D] border-b border-dashed border-0 border-[1px_0px];
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  div {
    font-family: Inter, system-ui, sans-serif;
  }

  p {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .open-scrollbar::-webkit-scrollbar {
    display: block;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent !important;
  -webkit-background-clip: text !important;
}
